// Fonts
$montserrat: 'Montserrat', sans-serif;

// Colors
$dark: #303030;
$white-two: #ffffff;
$white-three: #ecebe9;
$brand: #cfb995;
$light-brand: #d1bb91;
$grey-white: #b2b2b2;
$light-grey: #d7d7d7;
$light-dark: #5e5e5e;
$pastel-orange: #ff915b;
$pale-orange: #ffb25b;
$light-gold: #ffdf5b;
$kiwi-green: #8fe360;
$weird-green: #57e690;
$adult: #ff5b5b;
$macaroni: #f3a536;
$black-two: #313131;
$tea: #68b680;
$lightish-red: #ff3750;
$light-forest-green: #46915d;
$faded-red: #ce2c40;
$dodger-blue: #36aef3;
$tomato: #f33636;
